body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:link {
  color: var(--logo-peach);
  color: #fa7367;
  text-decoration: none;
}
a:hover {
  color: var(--logo-peach);
  color: #fa7367;
  text-decoration: underline;
}
a:visited {
  color: var(--logo-peach);
  color: #fa7367;
}
h1 {
  text-transform: uppercase;
  font-size: medium;
  color: #000;
}
.nav,
.page {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  width: calc(100vw - 2em);
  margin: 0 auto;
}
.section {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skick {
  order: 4;
  display: inline;
}
.head {
  order: 0;
}
.main {
  order: 3;
}
.small-text {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: small;
}
ul {
  padding-inline-start: 0;
}
ul > li {
  list-style: none;
}
@media only screen and (max-width: 544px) {
  body {
    background-color: var(--div-green);
    background-color: #a3efde;
  }
  .section {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (min-width: 545px) {
  body {
    background-color: var(--div-green);
    background-color: #a3efde;
  }
  .section {
    margin-left: 0;
    margin-right: 0;
  }
}
div.navi hr {
  color: #00f;
}

#overlay {
  width: calc(100vw - 2em);
  max-width: 500px;
  height: 330px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: 2;
  cursor: pointer;
  text-align: right;
}

#text {
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-size: small;
  font-weight: bold;
  position: absolute;
  top: 300px;
}

.songkick-widget {
  width: 100%;
}

.gig-list ul > li {
  display: grid;
  border: 1px solid grey;
  padding: 8px;
  margin-bottom: 3px;
}

.gig-list ul {
  border: none;
}

.by-songkick {
  padding: 13px 0px 0px 20px;

  height: 25px;
}

.by-songkick img {
  vertical-align: middle;
  width: 70px;
  height: 21px;
}

.google-maps,
.sk-badge {
  vertical-align: middle;
  height: 20px;
  padding-left: 10px;
}

.gig {
  float: left;
  padding-right: 10px;
  width: 350px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
}

#upcoming,
#past {
  background: #4ad5bd;
  padding: 15px;
  font-size: small;
}

#past {
  background: #3eb5a1;
}

.date-range {
  font-weight: bold;
  display: inline-block;
}

.sk-left {
  width: calc(100% - 100px);
  text-align: left;
  display: inline-block;
}

.sk-right {
  width: 90px;
  text-align: right;
  display: inline-block;
}

.sk-left-2 {
  width: calc(100% - 45px);
  vertical-align: top;
}

.upcoming-past {
  display: inline-block;
}

.shrink-div {
  height: 300px;
  overflow: hidden;
}
